/* ---------------------- laptop style start ---------------------- */
@media screen and (max-width: 1282px) {
  /* ---------------------- banner section start ---------------------- */
  .banner-container {
    gap: 2rem;
  }
  .banner-content h1 {
    width: 80%;
  }
  /* ---------------------- banner section end ---------------------- */
  /* ---------------------- curriculum section start ---------------------- */
  .curriculum-content {
    grid-template-columns: repeat(2, 1fr);
  }
  /* ---------------------- curriculum section end ---------------------- */
  /* ---------------------- stories section start ---------------------- */
  /* ---------------------- stories section end ---------------------- */
}
/* ---------------------- laptop style end ---------------------- */
/* ---------------------- tablet style start ---------------------- */
@media screen and (max-width: 1024px) {
  /* ---------------------- header section start ---------------------- */
  .navItems {
    display: none;
  }
  /* ---------------------- header section end ---------------------- */
  /* ---------------------- banner section start ---------------------- */
  .banner-container {
    gap: 0;
  }
  .banner-content h1 {
    width: 95%;
  }
  /* ---------------------- banner section end ---------------------- */
  /* ---------------------- curriculum section start ---------------------- */
  /* ---------------------- curriculum section end ---------------------- */
  /* ---------------------- stories section start ---------------------- */
  .stories-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .stories-item-1 {
    display: none;
  }
  .stories-btn {
    position: absolute;
    bottom: -1.6rem;
    left: 2rem;
    background-color: var(--orange);
    padding: 0.8rem 1.2rem;
    border-radius: 10rem;
    font-weight: 500;
    font-size: 1.5rem;
  }
  /* ---------------------- stories section end ---------------------- */
}
/* ---------------------- tablet style end ---------------------- */
/* ---------------------- mobile style start ---------------------- */
@media screen and (max-width: 640px) {
  /* ---------------------- header section start ---------------------- */
  header {
    border-bottom: 2px solid var(--orange);
  }
  .logo > h2 {
    display: none;
  }
  .contact-btn {
    display: none;
  }
  .hamburger-menu {
    display: flex;
    align-items: center;
    font-size: 3rem;
    color: var(--black);
    cursor: pointer;
    transition: color 0.3s ease;
  }
  .hamburger-menu:hover {
    color: var(--orange);
  }
  /* ---------------------- header section end ---------------------- */
  /* ---------------------- banner section start ---------------------- */
  .banner-container {
    height: auto;
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .banner-content {
    text-align: center;
  }
  .banner-img img {
    width: 100%;
  }
  /* ---------------------- banner section end ---------------------- */
  /* ---------------------- curriculum section start ---------------------- */
  .curriculum-content {
    grid-template-columns: repeat(1, 1fr);
  }
  /* ---------------------- curriculum section end ---------------------- */
  /* ---------------------- stories section start ---------------------- */
  /* ---------------------- stories section end ---------------------- */
}
/* ---------------------- mobile style  ---------------------- */
