/* ---------------------- default style start ---------------------- */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
:root {
  /* colors */
  --black: #111111;
  --white: #ffffff;
  --orange: #fea301;
  --skyBlue: #01acfd;
  --darkTurquoise: #05d4df;
  --majoretteBlue: #5d58ef;
  --lightWhite: #f7f7f7;
  --gray: #808080;
  /* font-size */
  --h1-max: 5.6rem;
  --h1-min: 3.2rem;

  --h2-max: 4.6rem;
  --h2-min: 2.6rem;

  --h3-max: 2.5rem;
  --h3-min: 1.66rem;

  --h4-max: 1.534rem;
  --h4-min: 0.9rem;

  --p-max: 1.5rem;
  --p-min: 1.2rem;

  --logo-max: 6.2rem;
  --logo-min: 4.6rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%; /* 1rem = 10px */
}
body {
  font-family: "Quicksand", serif;
  background: rgb(247, 247, 247);
}
img {
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h1 {
  font-size: clamp(var(--h1-min), 5vw, var(--h1-max));
  color: var(--black);
  font-weight: 700;
}
h2 {
  font-size: clamp(var(--h2-min), 5vw, var(--h2-max));
  color: var(--black);
  font-weight: 700;
}
h3 {
  font-size: clamp(var(--h3-min), 4vw, var(--h3-max));
}
h4 {
  font-size: clamp(var(--h4-min), 3vw, var(--h4-max));
}
p {
  font-size: clamp(var(--p-min), 2vw, var(--p-max));
}
/* ---------------------- default style end ---------------------- */
/* ---------------------- reuseable style start ---------------------- */
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.btn {
  border: none;
  border-radius: 12px;
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
}
.section-m {
  padding: 6rem 0;
}
/* ---------------------- reuseable style end ---------------------- */
/* ---------------------- header section start ---------------------- */
header {
  height: 8.2rem;
}
.header-container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.logo img {
  width: clamp(var(--logo-min), 5vw, var(--logo-max));
}
.logo > h2 > span {
  color: var(--orange);
}
.navItems {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  font-size: 2rem;
  font-weight: 500;
}
.navItem-1 {
  color: var(--orange);
}
.navItem-2 {
  color: var(--skyBlue);
}
.navItem-3 {
  color: var(--darkTurquoise);
}
.navItem-4 {
  color: var(--majoretteBlue);
}
.contact-btn {
  background-color: var(--orange);
  padding: 1rem 6rem;
  opacity: 100%;
  transition: opacity 0.3s ease-in-out;
}
.contact-btn:hover {
  opacity: 80%;
}
.hamburger-menu {
  display: none;
}
/* ---------------------- header section end ---------------------- */
/* ---------------------- banner section start ---------------------- */
.banner-container {
  height: inherit;
  display: flex;
  align-items: center;
  gap: 5rem;
}
.banner-content,
.banner-img {
  flex: 1;
}
.banner-content h1 {
  width: 85%;
}
.banner-content h1 > span:first-child {
  color: var(--orange);
}
.banner-content h1 > span:last-child {
  color: var(--skyBlue);
}
.banner-text {
  margin: 2.4rem 0;
  font-size: 2rem;
}
.enroll-btn {
  padding: 1rem 4.6rem;
  background: var(--black);
  transition: opacity 0.3s ease-in-out;
}
.enroll-btn:hover {
  opacity: 80%;
}
.banner-img {
  display: flex;
  justify-content: end;
}
.banner-img img {
  width: 90%;
}
/* ---------------------- banner section end ---------------------- */
/* ---------------------- curriculum section start ---------------------- */
.curriculum {
  background: url("../assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.curriculum-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.8rem;
}
.curriculum-container h2 {
  text-align: center;
  margin-bottom: 8rem;
}
.curriculum-item {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  text-align: center;
  padding: 6rem;
}
.curriculum-item-1 {
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
  border: 0.94px solid rgb(222, 245, 255);
}
.curriculum-item-2 {
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
  border: 0.94px solid rgb(255, 244, 220);
}
.curriculum-item-3 {
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
  border: 0.94px solid rgb(242, 232, 255);
}
.curriculum-item > img {
  width: 40%;
  margin: 0 auto;
}
.curriculum-text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.curriculum-text button {
  background-color: transparent;
  font-size: 1.5rem;
}
.curriculum-item-1 button {
  color: var(--darkTurquoise);
}
.curriculum-item-2 button {
  color: var(--orange);
}
.curriculum-item-3 button {
  color: var(--majoretteBlue);
}
.side-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 8rem;
  font-size: 2.4rem;
}
.side-group i {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  background: var(--orange);
  color: var(--white);
  cursor: pointer;
}
/* ---------------------- curriculum section end ---------------------- */
/* ---------------------- stories section start ---------------------- */
.stories {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 30%,
    rgba(249, 223, 177, 1) 100%
  );
  z-index: -1;
}
.stories::before {
  content: "";
  width: 100%;
  height: auto;
  background-image: url("../assets/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.stories-container > h2 {
  text-align: center;
}
.stories-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 8rem;
}
.stories-item-1 {
  grid-column: span 2;
  grid-row: span 2;
}
.stories-item {
  border-radius: 1.6rem;
  background: rgb(255, 255, 255);
}
.stories-image {
  position: relative;
}
.stories-btn {
  position: absolute;
  bottom: -1.6rem;
  left: 2rem;
  background-color: var(--orange);
  padding: 1.4rem 1.8rem;
  border-radius: 10rem;
  font-weight: 500;
  font-size: 1.5rem;
}
.stories-image > img {
  border-radius: 1.6rem 1.6rem 0 0;
}
.stories-text {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.stories-item-1 > .stories-text {
  padding: 6rem 3rem 3.5rem;
}
.stories-item-2 > .stories-text,
.stories-item-3 > .stories-text,
.stories-item-4 > .stories-text,
.stories-item-5 > .stories-text {
  padding: 3rem;
}
.stories-item-2 .stories-btn {
  background: var(--skyBlue);
}
.stories-item-3 .stories-btn {
  background: var(--darkTurquoise);
}
.stories-item-4 .stories-btn {
  background: #95b226;
}
.stories-item-5 .stories-btn {
  background: var(--majoretteBlue);
}
/* ---------------------- stories section end ---------------------- */
/* ---------------------- footer section start ---------------------- */
footer {
  background: var(--skyBlue);
  padding: 10rem 0;
  color: var(--white);
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer-content {
  grid-column: span 2;
}
.footer-content .logo > h2 {
  color: var(--white);
}
.footer-content p {
  width: 70%;
  margin-top: 3.5rem;
  font-size: 2rem;
}
.footer-nav > h3,
.footer-media > h3 {
  margin-bottom: 3.2rem;
}
.footer-navItems {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer-navItems li > a {
  color: var(--white);
  font-weight: 500;
}
.footer-media > div {
  display: flex;
  gap: 1rem;
}
/* ---------------------- footer section end ---------------------- */
